# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class

# Ambiente virtual
venv/
.env/
.venv/

# =========================
# PyInstaller
# =========================
build/
dist/
*.spec

# Logs e temporários
*.log
*.tmp

# =========================
# IDEs / Editores
# =========================
.vscode/
.idea/
*.swp

# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db
